*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fafc;
  color: #1a202c;
}

a {
  text-decoration: none;
}

input:focus {
  border-color: #3182ce !important;
  box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.2);
}
